<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163144091-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-163144091-3');
  </script>

  {{ partial "meta.html" . }}
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ partial "css.html" . }}

  
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  {{ block "main" . }}

  {{ partial "single/single.html" . }}

  {{ if .Params.include_footer }}
  {{ partial "footer.html" . }}
  {{ end }}

  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#" style="background-color: #BA0094;"></a></div>

  {{ if .Params.sidebar }}
  {{ partial "single/sidebar.html" . }}
  {{ end }}

  {{ end }}

  {{ partial "javascript.html" . }}
</body>


      

</html>