
{{- $title    := .Params.feature_title }}
{{- $subtitle := .Params.feature_subtitle }}
{{- $features  := .Params.features }}
<section class="section is-medium section-secondary" style="background-color:#BA0094">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">CRM</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

   
    
    <div class="content-wrapper">
      <div class="columns ">
        {{- range $features }}
        <!-- <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
              <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
              </div>
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div style="height: 250px;" class="card-text">
                <p >{{ .text }}</p>
            </div>
          </div>
        </div> 
      
      -->
        <div class="column is-one-third " >
          <div class="card is-shady revealOnScroll delay-1" data-animation="fadeInLeft">
              
            <br>
            <div class="card-icon " >
              <figure class="image container  is-128x128 " >
              <img   src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
            </figure>
             </div>
             
              
               <div class="content has-text-centered">
                <h4 >{{ .title }}</h4>
               </div>
              <!-- <div class="card-content"> -->
                  <div style="height: 200px;  margin-left: 10px;">
                  <div class="content " >
                    
                    <p>
                      {{- range .text}}
                      <li>
                      {{ . }}
                      </li>
                      {{end}}
                    </p>
                      
                      <!-- <p><a href="#">Learn more</a></p> -->
                  </div>
              </div>
          </div>
          
      </div>
       
        {{- end }}
      </div>
    </div>

  </div>
</section>