{{- $hero       := .Site.Params.hero }}
{{- $title      := .Params.main_title }}
{{- $subtitle   := .Params.main_subtitle }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := .Params.main_image }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}" style="background-color: #BA0094; border-color: #BA0094; color: white;">
            {{ $buttonText }}
          </a>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <!-- <figure class="image is-4by3"> -->
          <figure >
          <!-- <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description"> -->
          <img src="../images/illustrations/airline.png" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>