<!-- <div class="row" style="margin: 20px;">
    <div class="box">

        <div class="container">

            <h3 class="title is-2" style="margin-top: 20px;">To apply for a position with CargoAI, please follow these
                steps:</h3>
            <h4 class="subtitle is-5 is-muted" style="margin-top: 20px;">1. Follow CargoAI on linkedin :
                <a>https://www.linkedin.com/company/cargoai</a> </h4>
            <h4 class="subtitle is-5 is-muted" style="margin-top: 20px;">2. Like us and rate us on facebook :
                <a>https://www.facebook.com/cargoai.co</a> </h4>
            <h4 class="subtitle is-5 is-muted" style="margin-top: 20px;">3. Fill the form below:</h4>



            <div class="field">
                <label class="label">Email Address <span style="color: red;">*</span> </label>
                <div class="control">
                    <input class="input" type="text">
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>

            <div class="field">
                <label class="label">First Name <span style="color: red;">*</span> </label>
                <div class="control">
                    <input class="input " type="text">
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>
            <div class="field">
                <label class="label">Are you a Singapore Citizen or Permanent Resident? <span
                        style="color: red;">*</span> </label>
                <div class="control">
                    <input class="input " type="text">
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>
            <div class="field">
                <label class="label">Intended Position <span style="color: red;">*</span> </label>
                <div class="control">
                    <input class="input " type="text">
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>
            <div class="field">
                <label class="label">Link to your CV/Resume (linkedin or other) <span style="color: red;">*</span>
                </label>
                <div class="control">
                    <input class="input " type="text">
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>





            <div class="field">
                <label class="label">Message to Hiring Manager</label>
                <div class="control">
                    <textarea class="textarea"></textarea>
                </div>
            </div>



            <div class="mc-field-group size1of2">
                <label for="mce-MMERGE3-month" class="label">Desired Start Date <span style="color: red;">*</span>
                </label>
                <div class="datefield">
                    <span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*"
                            value="" placeholder="DD" size="2" maxlength="2" name="MMERGE3[day]" id="mce-MMERGE3-day"
                            aria-required="true"></span> /
                    <span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*"
                            value="" placeholder="MM" size="2" maxlength="2" name="MMERGE3[month]"
                            id="mce-MMERGE3-month" aria-required="true"></span> /
                    <span class="subfield yearfield"><input class="datepart required mce_inline_error" type="text"
                            pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE3[year]"
                            id="mce-MMERGE3-year" aria-required="true" aria-invalid="true"></span>
                    <span class="small-meta nowrap">( dd / mm / yyyy )</span>
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>
            <br>

            <div class="mc-field-group size1of2">
                <label for="mce-MMERGE8-month" class="label">Desired End Date <span style="color: red;">*</span>
                </label>
                <div class="datefield">
                    <span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*"
                            value="" placeholder="DD" size="2" maxlength="2" name="MMERGE8[day]" id="mce-MMERGE8-day"
                            aria-required="true"></span> /
                    <span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*"
                            value="" placeholder="MM" size="2" maxlength="2" name="MMERGE8[month]"
                            id="mce-MMERGE8-month" aria-required="true"></span> /
                    <span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*"
                            value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE8[year]"
                            id="mce-MMERGE8-year" aria-required="true"></span>
                    <span class="small-meta nowrap">( dd / mm / yyyy )</span>
                </div>
                <p style="display:none" class="help is-danger">This field is required</p>
            </div>
            <br>





            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" style="background-color: #BA0094;">Send Application</button>
                </div>
               
            </div>


        </div>
    </div>
</div> -->


<div class="row" style="margin: 20px;">
    <div class="box">

        <div class="container">


            <h3 class="title is-2" style="margin-top: 20px;">To apply for a position with CargoAI, please follow these
                steps:</h3>
            <!-- <h4 class="subtitle is-5 is-muted" style="margin-top: 20px;">1. Follow CargoAI on linkedin :
                <a>https://www.linkedin.com/company/cargoai</a> </h4>
            <h4 class="subtitle is-5 is-muted" style="margin-top: 20px;">2. Like us and rate us on facebook :
                <a>https://www.facebook.com/cargoai.co</a> </h4> -->

            <div>
                <p><strong>1.&nbsp;Follow CargoAI on linkedin</strong> :&nbsp;<span
                        style="text-decoration: underline;"><a href="https://www.linkedin.com/company/cargoai"
                            target="_blank" rel="noopener">https://www.linkedin.com/company/cargoai</a></span><a
                        href="https://www.linkedin.com/company/cargoai" target="_blank" rel="noopener"> &nbsp;
                        &nbsp;</a><span style="text-decoration: underline;">
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                        <span class="IN-widget"
                            data-lnkd-debug="<script type=&quot;IN/FollowCompany+init&quot; data-id=&quot;23695098&quot; data-counter=&quot;&quot;></script>"
                            style="display: inline-block; line-height: 1; vertical-align: bottom; padding: 0px; margin: 0px; text-indent: 0px;"><iframe
                                id="{&quot;xdOrigin&quot;:&quot;https://cargoai.co&quot;,&quot;xdChannel&quot;:&quot;1ec4e3af-e664-4b85-92de-23ad37089685&quot;,&quot;framework&quot;:&quot;@linkedin/xdoor-sdk&quot;,&quot;version&quot;:&quot;0.1.149&quot;,&quot;debug&quot;:false}"
                                name="{&quot;xdOrigin&quot;:&quot;https://cargoai.co&quot;,&quot;xdChannel&quot;:&quot;1ec4e3af-e664-4b85-92de-23ad37089685&quot;,&quot;framework&quot;:&quot;@linkedin/xdoor-sdk&quot;,&quot;version&quot;:&quot;0.1.149&quot;,&quot;debug&quot;:false}"
                                src="https://www.linkedin.com/pages-extensions/FollowCompany?id=23695098&amp;counter=&amp;xdOrigin=https%3A%2F%2Fcargoai.co&amp;xdChannel=1ec4e3af-e664-4b85-92de-23ad37089685&amp;xd_origin_host=https%3A%2F%2Fcargoai.co"
                                class="IN-widget IN-widget--iframe" scrolling="no" allowtransparency="true"
                                frameborder="0" border="0" width="1" height="1"
                                style="vertical-align: bottom; width: 80px; height: 22px;"></iframe></span></span></p>
                <p><strong>2. Like us and rate us on facebook</strong> :&nbsp;<span
                        style="text-decoration: underline;"><a href="https://www.facebook.com/cargoai.co"
                            target="_blank" rel="noopener">https://www.facebook.com/cargoai.co</a></span></p>
            </div>

           
            <strong style="margin-top: 20px;">3. Fill the form below:</strong>

            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                }

                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form
                    action="https://cargoai.us4.list-manage.com/subscribe/post?u=20a841b660a31657b725d833a&amp;id=595b3cb23d"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name <span class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name <span class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-NATIONALIT">Are you a Singapore Citizen or Permanent Resident? <span
                                    class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="NATIONALIT" class="required" id="mce-NATIONALIT">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-POSITION">Intended Position <span class="asterisk">*</span>
                            </label>
                            <input type="text" value="" name="POSITION" class="required" id="mce-POSITION">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-RESUME">Link to your CV/Resume (linkedin or other) <span
                                    class="asterisk">*</span>
                            </label>
                            <input type="url" value="" name="RESUME" class="required url" id="mce-RESUME">
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-MMERGE3-month">Desired Start Date <span class="asterisk">*</span>
                            </label>
                            <div class="datefield">
                                <span class="subfield dayfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2"
                                        name="MMERGE3[day]" id="mce-MMERGE3-day"></span> /
                                <span class="subfield monthfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2"
                                        name="MMERGE3[month]" id="mce-MMERGE3-month"></span> /
                                <span class="subfield yearfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4"
                                        name="MMERGE3[year]" id="mce-MMERGE3-year"></span>
                                <span class="small-meta nowrap">( dd / mm / yyyy )</span>
                            </div>
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-MMERGE8-month">Desired End Date <span class="asterisk">*</span>
                            </label>
                            <div class="datefield">
                                <span class="subfield dayfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2"
                                        name="MMERGE8[day]" id="mce-MMERGE8-day"></span> /
                                <span class="subfield monthfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2"
                                        name="MMERGE8[month]" id="mce-MMERGE8-month"></span> /
                                <span class="subfield yearfield"><input class="datepart required" type="text"
                                        pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4"
                                        name="MMERGE8[year]" id="mce-MMERGE8-year"></span>
                                <span class="small-meta nowrap">( dd / mm / yyyy )</span>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_20a841b660a31657b725d833a_595b3cb23d" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Send Application" name="subscribe"
                                id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'';ftypes[4]='phone';fnames[5]='NATIONALIT';ftypes[5]='text';fnames[6]='POSITION';ftypes[6]='text';fnames[7]='RESUME';ftypes[7]='url';fnames[3]='MMERGE3';ftypes[3]='date';fnames[8]='MMERGE8';ftypes[8]='date';}(jQuery));var $mcj = jQuery.noConflict(true);
            </script>


        </div>
    </div>
</div>