<!DOCTYPE html>
{{- $featured_blog  := .Params.featured_blog}}
{{- $primary_blog  := .Params.primary_blog}}
{{- $secondary_blog  := .Params.secondary_blog}}

<html>

<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css">
</head> -->


<section class="hero is-medium" style="background-color: #BA0094;">

  <div class="hero-body">
    <div class="container has-text-centered">
      <img style="height: 100px;" src="../images/logos/cargoai_white.png" >
      <h2 class="subtitle" style="color: white;">
        Find all your answers about the company
      </h2>
    </div>
  </div>
  
</section>

<br><br>

<!-- 

<section class="blog-posts" style=" background-color: white;">
  <br>
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        {{- range $featured_blog}}
        <div class="columns featured-post is-multiline">
          <div class="column is-12 post">
            <article class="columns featured">
              <div class="column is-7 post-img ">
                <img src={{.icon}} alt="">
              </div>
              <div class="column is-5 featured-content va">
                <div>

                  <h1 class="title post-title">{{.title}}</h1>
                  <p class="post-excerpt">{{.text}}</p>
                  <br>
                  <a href={{.article_link}} target="_blank" class="button is-primary">Read More</a>
                </div>

              </div>
            </article>
          </div>
        </div>
        {{ end }}
        <hr>
        <div class="columns is-multiline">
          {{- range $primary_blog}}
          <div class="column post is-6">
            <article class="columns is-multiline">
              <div class="column is-12 post-img">
                <img src={{.icon}} alt="Featured Image">
              </div>
              <div class="column is-12 featured-content ">

                <h1 class="title post-title">{{.title}}</h1>
                <p class="post-excerpt">{{.text}}</p>
                <br>
                <a href={{.article_link}} target="_blank" class="button is-primary">Read More</a>
              </div>
            </article>
          </div>
          {{ end }}

          {{- range $secondary_blog}}
          <div class="column post is-4">
            <article class="columns is-multiline">
              <div class="column is-12 post-img">
                <img src={{.icon}} alt="Featured Image">
              </div>
              <div class="column is-12 featured-content ">

                <h1 class="title post-title">{{.title}}</h1>
                <p class="post-excerpt">{{.text}}</p>
                <br>
                <a href={{.article_link}} target="_blank" class="button is-primary">Read More</a>
              </div>
            </article>
          </div>
          {{ end }}

        </div>
      </div>
    </div>

   

  

</section> -->


  <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank"
      class="crt-logo crt-tag">Powered by Curator.io</a></div>
  <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
  <script type="text/javascript">
    /* curator-feed-default-feed-layout */
    (function () {
      var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
      i.src = "https://cdn.curator.io/published/d6590d88-3a71-412f-9a04-4b30611c61de.js";
      e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
    })();
  </script>