{{- $jobs  := .Params.jobs}}
<script type="text/javascript" src="../js/switch_tab.js"></script>

<section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ .Title }}</h1>
              
          <div class="divider" style="background-color: #BA0094;"></div>
        </div>
      </div>
  
      <div class="content">
        <p > Cargo AI is an early stage startup run by a team of ambitious people. We are currently looking for results-oriented talents based in Singapore who can work independently and in a team. If you are passionate about high-growth startup and wants to be involved at the beginning of that journey, we would love for you to join the team.
          <br>
          All the jobs opening below are also available as Internships for a period of 3 months minimum in Singapore or around the world (remote possible). As an intern, you will be fully part of the team and will be asked to innovate and contribute as much as any other member from the team.
        </p>
    
      </div>
      
      <section class="hero is-primary">
        <div class="hero-body" style="background-color: #BA0094; border-color: #BA0094; color: white;">
          <div class="container has-text-centered" >
              <h1 class="title">
               Recent Openings in CargoAI 
              </h1>
            </div>
        </div> 
         
        
        <div class="hero-foot" style="background-color: #BA0094; border-color: #BA0094; color: white;">
        <nav class="tabs is-boxed is-fullwidth is-large">
          {{- range $jobs }}
                <div class="container">
                  <ul >

                    {{if eq .index 0}}
                    <li class="tab is-active" onclick="openTab(event,id)" id ="{{.title}}"><a >{{.title}}</a></li>
                    {{else}}
                    <li class="tab " onclick="openTab(event,id)" id ="{{.title}}"><a >{{.title}}</a></li>
                    {{end}}
                  </ul>
                </div>
            {{- end }}
              </nav>
          </div>
        </section>
        
        <div class="container section">
          {{- range $jobs }}
          {{if eq .index 0}}
            <div id ="{{.title}}" class="content-tab"  >
              <p>
                {{- range .text}}
                <br>
                {{ . }}
                <br>
                {{end}}
              </p>
              <p>
                {{- range .feature}}
                <li>
                {{ . }}
                </li>
                {{end}}
              </p>
              <p>
                <h1 style="font-weight: bold;" >Responsiblties</h1>
                {{- range .responsiblties}}
                <li>
                {{ . }}
                </li>
                {{end}}
              </p>
              <p>
                <h1 style="font-weight: bold;" >Requirements</h1>
                {{- range .requirements}}
                <li>
                {{ . }}
                </li>
                {{end}}
              </p>
              <p>
                <h1 style="font-weight: bold;" >Compensation</h1>
                {{- range .compensation}}
                <li>
                {{ . }}
                </li>
                {{end}}
              </p>
                
                </div>
          {{else}}
          <div id ="{{.title}}" class="content-tab" style="display:none" >
            <p>
              {{- range .text}}
              <br>
              {{ . }}
              <br>
              {{end}}
            </p>
            <p>
              {{- range .feature}}
              <li>
              {{ . }}
              </li>
              {{end}}
            </p>
            <p>
              <h1 style="font-weight: bold;" >Responsiblties</h1>
              {{- range .responsiblties}}
              <li>
              {{ . }}
              </li>
              {{end}}
            </p>
            <p>
              <h1 style="font-weight: bold;" >Requirements</h1>
              {{- range .requirements}}
              <li>
              {{ . }}
              </li>
              {{end}}
            </p>
            <p>
              <h1 style="font-weight: bold;" >Compensation</h1>
              {{- range .compensation}}
              <li>
              {{ . }}
              </li>
              {{end}}

              </div>
              {{end}}
            {{- end }}
           
          
            <!-- <div id="WebAud" class="content-tab" style="display:none">
                <p>
                  test2<br>
                Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div id="Support" class="content-tab" style="display:none">
               <p>
                 test3 <br>  
               Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div> -->
        </div>


        <p class="has-text-centered mt-20" >
          <a class="button cta is-large rounded secondary-btn raised" href="/apply" style="background-color: #BA0094; border-color: #BA0094; color: white;" >
            Click here to Apply
          </a>
        </p>
        
            
    </div>
  </section>
  