<section class="cd-faq">
	<ul class="cd-faq-categories">
        {{ $currentNode := . }}
		{{ range .Site.Menus.main }}
		<li><a {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} class="selected" href="{{.URL}}">{{ .Name }}</a></li>
		{{ end }}
	</ul>

	<div class="cd-faq-items">
	{{ range $.Site.Data.faq.groups }}
		<ul id="{{.id}}" class="cd-faq-group">
			<li class="cd-faq-title"><h2>{{.name}}</h2></li>
		{{ range .items }}
			<li>
				<a class="cd-faq-trigger" href="#0">{{.question}}</a>
				<div class="cd-faq-content">
					<p>{{.answer}}</p>
				</div>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
	<a href="#0" class="cd-close-panel">Close</a>
</section>