{{- $title    := .Params.feature_title }}
{{- $subtitle := .Params.feature_subtitle }}
{{- $features  := .Params.features }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered" style="background-color: #BA0094;"></div>

    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range $features }}
        <div class="column is-one-three " >
          <!-- <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft"> -->
            <div class="card is-shady is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            
              
            
            <figure class="image container  is-128x128 " >
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
              </figure>
           
            <div class="card-text" style="height: 200px; ">
                <h4 class="title is-4" style="margin: 20px;  font-family: 'Avenir Next',sans-serif;" >{{ .title }}</h4>
                <p style="font-family: 'Avenir Next',sans-serif;">{{ .text }}</p>
            </div>
            <!-- <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div> -->
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>

<!-- <section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Click on image above</h4>
                        <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec.
                            Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut
                            consequat semper viverra nam.</p>
                        <span class="button is-link modal-button" data-target="modal-image2">Image modal</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Tempor orci dapibus ultrices in.</h4>
                        <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed
                            arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas
                            cmonsu songue. Phasellus vestibulum lorem
                            sed risus.</p>
                        <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Tempor orci dapibus ultrices in.</h4>
                        <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed
                            arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas
                            cmonsu songue. Phasellus vestibulum lorem
                            sed risus.</p>
                        <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Tempor orci dapibus ultrices in.</h4>
                        <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed
                            arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas
                            cmonsu songue. Phasellus vestibulum lorem
                            sed risus.</p>
                        <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->