
<section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ .Title }}</h1>
          <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
          <div class="divider" style="background-color: #BA0094;"></div>
        </div>
      </div>
  
      <div class="content">
        {{ .Content }}
      </div>
      

      <table class="table is-bordered pricing__table is-fullwidth" >
        <thead>
          <tr style="background-color: #ba0094; ">
            <th></th>
            <th style=" text-align:center; color: white;">Cargoguide.com</th>
            <th style="text-align:center ;color: white;">Cargo.one	</th>
            <th style="text-align:center ;color: white;"> Webcargonet</th>
            <th style="text-align:center ;color: white;">IATA Net Rates</th>
            <th style="text-align:center ;color: white;"> CargoAI</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>Rates</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Pricing Controls  </td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Airline Scheduling</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Adhoc Requests</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr style="text-align:center">
            <td>eBooking</td>
            <td>Preferred Partners</td>
            <td>For Airlines</td>
            <td>Preferred Partners</td>
            <td>Preferred Partners</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Bid Capacity</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Multiple Airlines</td>
          </tr>
          <tr>
            <td>Negotiation Comparison Tab</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Drop-down Menu</td>
          </tr>
          <tr >
            <td>Quality Tracking</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Success Rate <br> Delivery Metrics</td>
          </tr>
          <tr style="background-color: #F5F5F5;">
            <td>Messaging</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Email</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Chat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Call</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Online</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr style="text-align:center">
            <td>Contacts for All Industries</td>
            <td>Preferred Partners</td>
            <td>Preferred Partners</td>
            <td>Preferred Partners</td>
            <td>Preferred Partners</td>
            <td>Expanding List</td>
          </tr>
          <tr style="background-color: #F5F5F5;">
            <td>CRM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Air Freight Pricing Index ( AFPI)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Quote Summary</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr >
            <td>Machine Learning</td>
            <td></td>
            <td></td>
            <td>Basic Learning</td>
            <td></td>
            <td>Advance Learning</td>
          </tr>
          <tr style="background-color: #F5F5F5;">
            <td>Advance Analytics</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Saving Analytics</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center">&#10004;</td>
          </tr>
          <tr>
            <td>Quality Tracking</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td >Feedback & Active Learning</td>
          </tr>
          <tr style="background-color: #F5F5F5;">
            <td>Additional Features</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:center">
            <td>Setup Time</td>
            <td>12 Weeks</td>
            <td>12 Weeks</td>
            <td>12 Weeks</td>
            <td>12 Weeks</td>
            <td>Begin Immediately</td>
          </tr>
        </tbody>
      </table>
   

      
    </div>
  </section>
  