
{{- $title      := .Params.pricing_airline_title }}
{{- $subtitle   := .Params.pricing_airline_subtitle2 }}
{{- $features  := .Params.pricing_forwarder_features }}
<!-- <!DOCTYPE html> -->

<section class="section section-feature-grey is-medium" style="background-color:#BA0094">
    <div class="container " >

        <div class="title-wrapper has-text-centered" >
            <h2 class="title is-2" style="color: white;">  {{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted" style="color: white;">  {{ $subtitle }}</h3>
            <div class="divider is-centered" style="background-color: #BA0094;"></div>
        </div>

        <br><br>
        
<!-- <div class="card-image has-text-centered"> -->

    
    
    <!-- <div class="content-wrapper">
        <div class="columns">
          {{- range $features }}
          <div class="column is-one-three">
            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
              <div class="card-title">
                <h4>{{ .title }}</h4>
              </div>
              <div class="card-icon">
                  <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
              </div>
              <div class="card-text">
                  <p>{{ .text }}</p>
              </div>
              <div class="card-action">
                <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
              </div>
            </div>
          </div>
          {{- end }}
        </div>
      </div> -->
        <div class="columns " >
            
            <div class="column is-one-three has-text-centered">
                <div class="card is-shady">
                    <!-- <div class="card-icon">
                        <img src="../images/illustrations/icons/pro.svg" alt="Description">
                    </div> -->
                    <figure class="image container  is-128x128 " >
                        <img src="../images/illustrations/icons/pro.svg" alt="Description">
                      </figure>
                    <!-- <div class="card-content"> -->
                        <div style="height: 250px;">
                        <div class="content">
                            <h2  style="margin-top: 20px;">Pro </h2>
                            <h5 >$ 99/month </h5>
                            <p >
                                <li >Answer eBidding requests</li>
                                <li >Receive eBooking requests</li>
                                <li >Bid Reports</li>
                                <li>Opportunity Repots</li>
                                <li >Customer Repots</li>

                            </p>
                            <!-- <p ><a href="#">Learn more</a></p> -->
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column is-one-three has-text-centered" >
                <div class="card is-shady">
                    <!-- <div class="card-icon">
                        <img src="../images/illustrations/icons/Enterprise.svg" alt="Description">
                    </div> -->
                    <figure class="image container  is-128x128 " >
                        <img src="../images/illustrations/icons/Enterprise.svg" alt="Description">
                      </figure>
                    <!-- <div class="card-content"> -->
                        <div style="height: 250px;">
                        <div class="content">
                            <h2 style="margin-top: 20px;">Enterprise </h2>
                            <h5 >$ 399/month </h5>
                            <p>
                                <li >Answer eBidding requests</li>
                                <li >Receive eBooking requests</li>
                            </p>
                            <!-- <p ><a href="#">Learn more</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 


       
    </div>
</section>
