
{{- $title      := .Params.pricing_airline_title }}
{{- $subtitle   := .Params.pricing_airline_subtitle }}
{{- $features  := .Params.pricing_airline_features }}
<!-- <!DOCTYPE html> -->

<section class="section section-feature-grey is-medium">
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">  {{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">  {{ $subtitle }}</h3>
            <div class="divider is-centered" style="background-color: #BA0094;"></div>
        </div>

        <br><br>
        
<!-- <div class="card-image has-text-centered"> -->

    
    
        <div class="columns features" style="font-family: 'Avenir Next',sans-serif;">
            
            
             <div class="column is-one-third has-text-centered">
                <div class="card is-shady">
                    
                    <!-- <div class="card-icon">
                    <img src="../images/illustrations/icons/Basic.svg" alt="Description">
                    </div> -->
                    <figure class="image container  is-128x128 " >
                        <img src="../images/illustrations/icons/Basic.svg" alt="Description">
                      </figure>
                    <!-- <div class="card-content"> -->
                        <div style="height: 250px; margin: 20px;">
                        <div class="content">
                            <h2 >Basic </h2>
                            <h5 >Free </h5>
                            <p>
                                <li >Answer eBidding requests</li>
                                <li >Receive eBooking requests</li>

                            </p>
                            <!-- <p><a href="#">Learn more</a></p> -->
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="column is-one-third has-text-centered">
                <div class="card is-shady">
                    <!-- <div class="card-icon">
                        <img src="../images/illustrations/icons/pro.svg" alt="Description">
                    </div> -->
                    <figure class="image container  is-128x128 " >
                        <img src="../images/illustrations/icons/pro.svg" alt="Description">
                      </figure>
                    <!-- <div class="card-content"> -->
                        <div style="height: 250px; margin: 20px;">
                        <div class="content " >
                            <h2 >Pro </h2>
                            <h5 >$ 99/month </h5>
                            <p >
                                <li >Answer eBidding requests</li>
                                <li >Receive eBooking requests</li>
                                <li >Bid Reports</li>
                                <li>Opportunity Repots</li>
                                <li >Customer Repots</li>

                            </p>
                            <!-- <p ><a href="#">Learn more</a></p> -->
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column is-one-third has-text-centered">
                <div class="card is-shady">
                    <!-- <div class="card-icon">
                        <img src="../images/illustrations/icons/Enterprise.svg" alt="Description">
                    </div> -->
                    <figure class="image container  is-128x128 " >
                        <img src="../images/illustrations/icons/Enterprise.svg" alt="Description">
                      </figure>
                    <!-- <div class="card-content"> -->
                        <div style="height: 250px; margin: 20px;">
                        <div class="content">
                            <h2 >Enterprise </h2>
                            <h5 >$ 399/month </h5>
                            <p>
                                <li >Answer eBidding requests</li>
                                <li >Receive eBooking requests</li>
                            </p>
                            <!-- <p ><a href="#">Learn more</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 


       
    </div>
</section>
