{{- $section7 := .Site.Params.section7 }}
{{- $title    := index $section7 "title" }}
{{- $subtitle := index $section7 "subtitle" }}
{{- $features := index $section7 "features" }}
<section class="section is-medium">



    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
            <div class="divider is-centered"></div>

        </div>

        <div class="row" style="margin: 20px;">
            <div class="box">
              
            
                <div class="columns">

                
                  <div>
                
                    {{- range $features }}
                  <div class="row" style="margin: 40px;">
                  <!-- <div class="box"> -->
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p style="color: gray;">
                            <strong style="font-family: Open Sans">{{.title}}</strong> 
                            <br>
                            {{.text}}
                          </p>
                        </div>
                      </div>
                    </article>
                  <!-- </div> -->
                </div>
                {{- end }}
                
                </div>
                

                <div class="column is-5 is-offset-1">
                    <!-- <figure class="image is-4by3"> -->
                        <figure>
                      <img src="https://uploads-ssl.webflow.com/5ed5b60be1889f546024ada0/5ee2f96099844a080e799d3a_cashback%403x.png" alt="Description">
                    </figure>
                  </div>
                
                </div>
                
            </div>
          </div>



    </div>
</section>