<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Contact Us</h2>
      <h3 class="subtitle is-5 is-muted"></h3>
      <div class="divider is-centered" style="background-color: #BA0094;"></div>
    </div>

    <!-- <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Your Company Name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Country">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Comment"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" style="background-color: #BA0094; border-color: #BA0094; color: white;" >Get my invitation</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
   
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
          <div
            class="elementor-element elementor-element-80b1361 elementor-column elementor-col-100 elementor-top-column"
            data-id="80b1361" data-element_type="column">
            <div class="elementor-column-wrap  elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-e02bb80 elementor-widget__width-inherit elementor-widget elementor-widget-html"
                  data-id="e02bb80" data-element_type="widget" data-widget_type="html.default">
                  <div class="elementor-widget-container">
                   
                      <div id="cargoai_5574062050770944" class="agile_crm_form_embed">
                        <!-- <link href="https://d1gwclp1pmzk26.cloudfront.net/agile/forms/v1/agile-form.min.css" rel="stylesheet"> -->

                        <link href="https://doxhze3l6s7v9.cloudfront.net/app/static/agile/forms/agile-form.min.css"
                          rel="stylesheet">
                        <form class="form-view theme2" id="agile-form" action="https://cargoai.agilecrm.com/formsubmit"
                          style="width: 80%; margin-left: 10%;margin-right: 10%; margin-top: 5%; padding-left: 5%; " method="GET">
                          <fieldset>

                            <!-- Form Name -->
                            <!-- <legend>Contact us</legend> -->
                            <p class="agile-form-description"></p>
                            <div style="display: none; height: 0px; width: 0px;">
                              <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Contact us">
                              <input type="hidden" id="_agile_domain" name="_agile_domain" value="cargoai">
                              <input type="hidden" id="_agile_api" name="_agile_api" value="apu6rutpr9knkpp46713mgak50">
                              <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
                              <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
                              <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg"
                                value="Great! Thanks for filling out the form.">
                              <input type="hidden" id="_agile_form_id_tags" name="tags" value="">

                              <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5574062050770944">
                            </div>
                            <!-- Text input-->
                            <div class="agile-group required-control">
                              <label class="agile-label" for="agilefield-1">Name<span class="agile-span-asterisk">
                                  *</span></label>
                              <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-1" name="first_name" type="text"
                                  placeholder="Enter your name" class="agile-height-default" required="">
                              </div>
                              <div class="agile-custom-clear"></div>
                            </div>
                            <!-- Text input-->
                            <div class="agile-group required-control">
                              <label class="agile-label" for="agilefield-2">Email<span class="agile-span-asterisk">
                                  *</span></label>
                              <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-2" name="email" type="email"
                                  placeholder="Enter your email" class="agile-height-default" required="">
                              </div>
                              <div class="agile-custom-clear"></div>
                            </div>
                            <!-- Multiple Radios -->
                            <div class="agile-group agile-form-multiradios">
                              <label class="agile-label" for="multiple_radios_1486467745519">Which side are you on
                                ?<span class="agile-span-asterisk"> *</span></label>
                              <div class="agile-field agile-field-xlarge agile-height-default">
                                <div>
                                  <label for="multiple_radios_1486467745519-0" class="i-checks">
                                    <input type="radio" name="Side" id="multiple_radios_1486467745519-0"
                                      value="Forwarder" required=""><i></i>
                                    Forwarder
                                  </label></div>
                                <div>
                                  <label for="multiple_radios_1486467745519-1" class="i-checks">
                                    <input type="radio" name="Side" id="multiple_radios_1486467745519-1" value="Airline"
                                      required=""><i></i>
                                    Airline
                                  </label></div>
                                <div>
                                  <label for="multiple_radios_1486467745519-2" class="i-checks">
                                    <input type="radio" name="Side" id="multiple_radios_1486467745519-2" value="GSA"
                                      required=""><i></i>
                                    GSA
                                  </label></div>
                                <div>
                                  <label for="multiple_radios_1486467745519-3" class="i-checks">
                                    <input type="radio" name="Side" id="multiple_radios_1486467745519-3" value="Other"
                                      required=""><i></i>
                                    Other
                                  </label></div>
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="agile-group">
                              <label class="agile-label" for="agilefield-4">Your company name</label>
                              <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-4" name="company" type="text" placeholder=""
                                  class="agile-height-default">
                              </div>
                              <div class="agile-custom-clear"></div>
                            </div>
                            <!-- Text input-->
                            <div class="agile-group">
                              <label class="agile-label" for="agilefield-5">Country</label>
                              <div class="agile-field-xlarge agile-field">
                                <input maxlength="250" id="agilefield-5" name="country" type="text" placeholder=""
                                  class="agile-height-default">
                              </div>
                              <div class="agile-custom-clear"></div>
                            </div>
                            <!-- Textarea -->
                            <div class="agile-group">
                              <label class="agile-label" for="agilefield-3">Comment</label>
                              <div class="agile-field-xlarge agile-field">
                                <textarea maxlength="250" id="agilefield-3" name="Comment"
                                  placeholder="Tell us how we can help you" class="agile-height-default"></textarea>
                              </div>
                              <div class="agile-custom-clear"></div>
                            </div>

                            <!--recaptcha aglignment-->
                            <!-- Button -->
                            <div class="agile-group">
                              <label class="agile-label">&nbsp;</label>
                              <div class="agile-field agile-button-field">
                                <button type="submit" class="agile-button">Send Message</button>
                                <br><span id="agile-error-msg"></span>
                              </div>
                            </div>

                          </fieldset>
                        </form>
                        <script type="text/javascript">
                          (function (a) { var b = a.onload, p = false; isCaptcha = false; if (p) { a.onload = "function" != typeof b ? function () { try { _agile_load_form_fields() } catch (a) { } } : function () { b(); try { _agile_load_form_fields() } catch (a) { } } }; var formLen = document.forms.length; for (i = 0; i < formLen; i++) { if (document.forms.item(i).getAttribute("id") == "agile-form") { a.document.forms.item(i).onsubmit = function (a) { a.preventDefault(); try { _agile_synch_form_v5(this) } catch (b) { this.submit() } } } } })(window);
                        </script>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- </div> -->
</section>