{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium">



    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
            <div class="divider is-centered" style="background-color: #BA0094;"></div>

        </div>

        <div class="row" style="margin: 20px;">
            <div class="box">
              
            
                <div class="columns">

                
                  <div>
                
                    <h1 style="margin-left: 40px; margin-top: 32px; font-family: 'Avenir Next',sans-serif;" class="title is-3">Live Search</h1>
                    {{- range $features }}
                  <div class="row" style="margin: 40px;">
                  <!-- <div class="box"> -->
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-32x32">
                          <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <h3 style="font-family: 'Avenir Next',sans-serif; ">{{.title}}</h3> 
                          <p style="font-family: 'Avenir Next',sans-serif ; margin-top: -20px;"  style="color:#333;">
                            <br>
                            {{.text}}
                          </p>
                        </div>
                      </div>
                    </article>

                  <!-- </div> -->
                </div>
                {{- end }}
                <!-- <p class="has-text-centered mt-20" >
                  <a class="button cta is-large rounded secondary-btn raised"  href="/apply" >
                    Learn more
                  </a>
                </p> -->
                
                <div class="buttons" style="margin-left: 40px; margin-bottom: 20px;">
                  <button class="button cta is-large rounded raised" style="background-color: #BA0094; border-color: #BA0094; color: white;">Learn more</button>
                </div>

                </div>
                

                <div class="column is-5 is-offset-1" style="margin-top: 40px;">
                    <!-- <figure class="image is-4by3"> -->
                        <figure>
                      <img src="https://uploads-ssl.webflow.com/5ed5b60be1889f546024ada0/5ee2f96099844a080e799d3a_cashback%403x.png" alt="Description">
                    </figure>
                  </div>
                
                </div>
                
            </div>
          </div>



    </div>
</section>