{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section class="section is-medium section-secondary" style="background-color:#BA0094">
  <!-- <section style="background-color: purple; "> -->
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <!-- <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              {{ .quote }}
            </blockquote>
            <div class="author">
              <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div> -->
    <div class="content-wrapper">
      <div class="columns ">
        {{- range $clients }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-icon">
              <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
            </div>

            <div class="card-title">
              <h4>{{ .name }}</h4>
            </div>
            <div style="height: 250px;" class="card-text">
              <p style="margin-top: 10px;">{{ .quote }}</p>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>

  </div>
</section>