{{- $title      := .Params.team_title }}
{{- $subtitle   := .Params.team_subtitle }}
{{- $team  := .Params.team}}

<section class="section is-medium">
    <!-- <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ $title }}</h1>
          <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
          <div class="divider"></div>
        </div>
      </div>
  
      <div class="content">
        {{ .Content }}
      </div> -->

      
      <!-- <div class="container">
        <div class="section">
          <div class="columns">
            <div class="column has-text-centered">
              <h1 class="title" style="color: rgb(44, 44, 117);">{{$title}}</h1><br>
            </div>
          </div>
          
          <div id="app" class="row columns is-multiline">
           
            <div v-for="card in cardData" key="card.id" class="column is-4">
              {{- range $team }}
              <div class="card large">
                <div class="card-image is-16by9">
                  <figure class="image">
                    <img :src="card.image" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img :src="card.avatar" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4 no-padding">{{.title}}</p>
                      <p>
                        <span class="title is-6">
                          <a :href=`http://twitter.com/${card.user.handle}`> {{.handle}} </a> </span> </p>
                      <p class="subtitle is-6">{{.subtext}}</p>
                    </div>
                  </div>
                  <div class="content">
                    {{.text}}
                    <div class="background-icon"><span class="icon-twitter"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{- end }}
        </div>
      </div> -->

      <!-- <div class="columns features"> -->
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color:#BA0094;">{{$title}}</h1><br>
          </div>
        </div>

        <div class="row columns is-multiline">
        {{- range $team }}
        <div class="column  is-4 has-text-centered " >
           <div class="card is-shady">
           
               <div class="card-icon ">
                <figure class="image container  is-128x128 ">
                <!-- <img class="is-rounded" src="{{ printf "/images/illustrations/faces/%s.png" .icon | relURL }}"> -->
                <!-- <img class="is-rounded" src="https://cargoai.co/wp-content/uploads/2020/04/Adrian.jpg"> -->
                
                <img class="is-rounded" src={{.icon}}>
              </figure>
               </div>
               <div class="card-content">
                   <div class="content" style="height: 200px;">
                       <h3 >{{.Name}} </h4>
                       <h4 >{{.Position}} </h3>
                       <p>{{.About}}</p>
                       <div class="column">
                       <a href={{.Linkedin}} target="_blank" ><img src="../images/logos/linkedin.png" width="30" height="30"></a>
                       <!-- <a href="#"><img src="../images/logos/linkedin.png" width="30" height="30"></a> -->
                      </div>
                       
                   </div>
               </div>
           </div>
           
       </div>
       {{- end }}
      

    </div>
  </section>
  